<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="all">
        <tem>
            <!-- <button slot:"left">left</button>
            <button slot="right">right</button> -->
            <template v-slot:left>
                <button> Left</button>
            </template>
            <template v-slot:right>
                <button> Right</button>
            </template>
            <template slot-scope="slot" >
                <span v-for="item in slot.data"> {{item}}--</span>
            </template>
            <template slot-scope="slot" >
                <span v-for="item in slot.data"> {{item}}++</span>
            </template>
        </tem>
    </div>
    <template id="tem">
        <div>
            <h1>插槽</h1>
            <slot name="left">LEFT</slot>
            <slot name="right">RIGHT</slot>
            <slot :data="arr">
                <ul>
                    <li v-for="item in arr">{{item}}</li>
                </ul>
            </slot>
            <slot :data="arr">
                <ul>
                    <li v-for="item in arr">{{item}}</li>
                </ul>
            </slot>
        </div>
    </template>
    <script>
        vm = new Vue({
            el: "#all",
            components:{
                tem:{
                    template:"#tem",
                    data(){
                        return{
                           arr:['a','b','c','d','e']
                        }
                    }
                }
            },
            method: {
             
            },
            data: {
            
            },
        })
    </script>
</body>
</html>